
/* Login */

#containerLog {
    background: rgba(0, 0, 0, 0.5);
    width:max-content;
    margin-left: 33%;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
}

#containerLog a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}

#formLogin label {
    margin-right: 10px;
}

#username{
    margin-right: 50px;
}

#formLogin input {
    height: 24px;
    border-radius: 20px;
}

#loginBtn {
    cursor: pointer;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    color: black;
}

/* Register */

#formRegister {
    width: 100%;
    
}

#wrapper__register {
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(0, 0, 0, 0.6);;

    padding: 30px 100px 70px;

    border-radius: 20px;
}

#wrapper__register h3 {
    color: rgb(177, 32, 32);
    font-size: 34px;
    margin-bottom: 70px;
    
    text-align: center;
}

.moduleReg {
    line-height: 5;
    font-size: 22px;
    width: 100%;
    
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.checkReg {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

.checkReg input {
    cursor: pointer;
}

.inputReg input {
    height: 30px;
    border-radius: 8px;
}

.labelReg label {
    color:  rgb(224, 59, 59);
}

.checkReg p ,.checkReg a {
    color: rgb(177, 32, 32)
}

#btnRegReg {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 45px;
}

.btnRegister {
    background:rgba(0, 0, 0, 0.97);
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.9);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    cursor: pointer;
}

