* {
  color: blanchedalmond;    
}

html{
  background-image: url(../img/acwallpaper.png);
  background-position: center;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size:cover;
}

body {
  margin: 0;
  font-family: "Mohave", sans-serif;
} 

input {
  color: black;
  font: medium bold;
  padding-left: 10px;
  background: whitesmoke  ;
}

/* Head */
.head {
  display: flex;
  flex-wrap: wrap;
}

.head h2 {
  font-size: 250%;
  margin-left: 10px;
}

.gif {
  width: 150px;
  height: 150px;
  position: relative;
  border: none;
}



/* Parte e-commerce*/

img.icona {
  width: 90px;
}

img.icona:hover {
  transform:rotateZ(360deg);
  transition: all 0.75s
}

img.cartImg{
  width: 30px;
  height: 30px;
  background: transparent;
}

button.cartBtn {
  background: transparent;
  position: fixed bottom;
  justify-content: center;
  width: 50px;
  height: 35px;
  text-align: center;
  border: none;
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper__titles {
  text-align: center;
  justify-content: center;
}

.wrapper__titles h1 {
  font-size: 50px;
  color: rgba(231, 34, 8, 0.863);
  font-family: 'Comic Sans MS', cursive;
}

.wrapper__titles h3 {
  font-size: 22px;
}

#cercaC{
  padding-top: 10px;
  padding-left: 150px;
}

.wrapper__products {
  margin: 0 80px;
  padding: 100px 50px ;
  height: 50vh;
  display: flex;
  overflow-y: auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 100px 7.5px;
  padding: 10px;

  min-width: 150px;
  max-width: 150px;

  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 12px;

  opacity: 0.78;
  transition: all 0.35s;
}

.product:hover {
  
  border: 1px solid rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.98
  );
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 1);
  opacity: 2;
  z-index: 1;
  transform: scale(1.4);
}

.product:hover > h3 {
  margin-top: 60px;
  transition: 0.35s;
}

.product h3 {
  font-size: medium;
}


.product:hover > .priceP {
  margin-top: 80px;
  transition: 0.35s;

}

.product:hover > .descTxt {
  margin-top: 50px;
}

.descTxt {
  min-height: 100px;
  max-height: 100;
}

/* .product:active {
  transform: scale(1.6);
} */

.productAct{
  animation-name: slide-bottom;
  animation-duration: 3s;
  animation-iteration-count: 1;
  
}

@keyframes slide-bottom {
  25% {
    transform: scale(0.8);

  }
  60% {
    transform: rotateX(180deg) scale(0.8);
    
  }

  100% {
    transform:translateY(600px) scale(0.05);
  }
} 

